In [18]:
tu = (23, 'abc', 4.56, (2, 3), 'def')

In [3]:
li = ['abc', 34, 4.34, 23]

In [10]:
st = "Hello World"

In [11]:
st

'Hello World'

In [12]:
st = 'Hello World'

In [13]:
st

'Hello World'

In [14]:
st = """This is a multi-line string that uses triple quotes."""

In [21]:
st

'This is a multi-line string that uses triple quotes.'

In [35]:
t = (23, 'abc', 4.56, (2, 3), 'def')

In [36]:
t[1]

'abc'

In [37]:
t[-3]

4.56

In [39]:
t = (23, 'abc', 4.56, (2, 3), 'def')

In [41]:
t[1:4]

('abc', 4.56, (2, 3))

In [43]:
t[1:-1]

('abc', 4.56, (2, 3))

In [44]:
t[1:-1:2]

('abc', (2, 3))

In [45]:
t[:2]

(23, 'abc')

In [46]:
t[2:]

(4.56, (2, 3), 'def')

In [48]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [49]:
list2=list1

NameError: name 'list1' is not defined

In [50]:
list2=list1[:]

NameError: name 'list1' is not defined

In [51]:
t=[1,2,4,5]

In [52]:
3 in t

False

In [53]:
4 in t

True

In [54]:
4 not in t

False

In [55]:
a= 'abcde'

In [56]:
'c' in a

True

In [57]:
'cd' in a

True

In [58]:
'ac' in a

False

In [59]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [60]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [61]:
"Hello " + "World!"

'Hello World!'